In [1]:
#!pip install --upgrade pip
#!pip install pandas
#!pip install openpyxl
#!pip install numpy
#!pip install seaborn
#!pip install matplotlib
#!pip install plotly
#!pip install sqlalchemy
#!pip install pandas sqlalchemy psycopg2-binary
#!pip install scikit-lean

In [2]:
import pandas as pd
import numpy as np
import plotly
import plotly.express as px
import matplotlib.pyplot as plt
#import folium

In [3]:
entityData = pd.read_csv('LEA Finance Survey – Entity Data.csv')
expenditureData = pd.read_csv('LEA Finance Survey – Expenditures Data.csv')
federalRevenue = pd.read_csv('LEA Finance Survey – Federal Revenue Data.csv')
stateRevenue = pd.read_csv('LEA Finance Survey – State Revenue Data.csv')

In [4]:
geocode_nonfiscal = pd.read_excel('EDGE_GEOCODE_PUBLICSCH_1920/EDGE_GEOCODE_PUBLICSCH_1920.xlsx')

In [5]:
entityData.head()

,Unnamed: 0,lea_id,census_id,ansi_state_code,ansi_county_code,csa,cbsa,lea_name,state,st_abbr
0,1,100005,1504840100000,1,1095,N,10700,Albertville City,Alabama,AL
1,2,100006,1504800100000,1,1095,N,10700,Marshall County,Alabama,AL
2,3,100007,1503740100000,1,1073,142,13820,Hoover City,Alabama,AL
3,4,100008,1504530100000,1,1089,290,26620,Madison City,Alabama,AL
4,6,100011,1503710100000,1,1073,142,13820,Leeds City,Alabama,AL

In [6]:
entityData.dtypes

Unnamed: 0           int64
lea_id              object
census_id            int64
ansi_state_code      int64
ansi_county_code     int64
csa                 object
cbsa                object
lea_name            object
state               object
st_abbr             object
dtype: object

In [7]:
geocode_nonfiscal.head()

,NCESSCH,LEAID,NAME,OPSTFIPS,STREET,CITY,STATE,ZIP,STFIP,CNTY,...,NMCBSA,CBSATYPE,CSA,NMCSA,NECTA,NMNECTA,CD,SLDL,SLDU,SCHOOLYEAR
0,10000500870,100005,Albertville Middle School,1,600 E Alabama Ave,Albertville,AL,35950,1,1095,...,"Albertville, AL",2,N,N,N,N,104,01026,01009,2019-2020
1,10000500871,100005,Albertville High School,1,402 E McCord Ave,Albertville,AL,35950,1,1095,...,"Albertville, AL",2,N,N,N,N,104,01026,01009,2019-2020
2,10000500879,100005,Evans Elementary School,1,901 W McKinney Ave,Albertville,AL,35950,1,1095,...,"Albertville, AL",2,N,N,N,N,104,01026,01009,2019-2020
3,10000500889,100005,Albertville Elementary School,1,145 West End Drive,Albertville,AL,35950,1,1095,...,"Albertville, AL",2,N,N,N,N,104,01026,01009,2019-2020
4,10000501616,100005,Albertville Kindergarten and PreK,1,257 Country Club Rd,Albertville,AL,35951,1,1095,...,"Albertville, AL",2,N,N,N,N,104,01026,01009,2019-2020

In [8]:
geocode_nonfiscal['LEAID'] = geocode_nonfiscal['LEAID'].astype(str)
geocode_nonfiscal = geocode_nonfiscal[['LEAID', 'NAME', 'CITY', 'ZIP', 'NMCNTY', 'LAT', 'LON']].copy()

In [9]:
entityData_with_geoData = pd.merge(entityData, geocode_nonfiscal, left_on= 'lea_id', right_on= 'LEAID', how= 'left')
entityData_with_geoData.head()

,Unnamed: 0,lea_id,census_id,ansi_state_code,ansi_county_code,csa,cbsa,lea_name,state,st_abbr,LEAID,NAME,CITY,ZIP,NMCNTY,LAT,LON
0,1,100005,1504840100000,1,1095,N,10700,Albertville City,Alabama,AL,100005,Albertville Middle School,Albertville,35950.0,Marshall County,34.2602,-86.206200
1,1,100005,1504840100000,1,1095,N,10700,Albertville City,Alabama,AL,100005,Albertville High School,Albertville,35950.0,Marshall County,34.2622,-86.204900
2,1,100005,1504840100000,1,1095,N,10700,Albertville City,Alabama,AL,100005,Evans Elementary School,Albertville,35950.0,Marshall County,34.2733,-86.220100
3,1,100005,1504840100000,1,1095,N,10700,Albertville City,Alabama,AL,100005,Albertville Elementary School,Albertville,35950.0,Marshall County,34.2527,-86.221806
4,1,100005,1504840100000,1,1095,N,10700,Albertville City,Alabama,AL,100005,Albertville Kindergarten and PreK,Albertville,35951.0,Marshall County,34.2898,-86.193300

In [10]:
expenditureData_with_geoData = pd.merge(entityData_with_geoData, expenditureData, on='census_id', how='left')
expenditureData_with_geoData

,Unnamed: 0_x,lea_id,census_id,ansi_state_code,ansi_county_code,csa,cbsa,lea_name,state,st_abbr,...,special_education_expenditure_instructional_staff_support_flag,special_education_expenditure_student_transportation_support_flag,cares_act_expenditure_curr_flag,cares_act_expenditure_instructional_flag,cares_act_expenditure_support_services_flag,cares_act_expenditure_capital_outlay_flag,cares_act_expenditure_tech_related_supplies_services_flag,cares_act_expenditure_tech_related_equipment_flag,amount (Min/Max Scale),amount (Z-Score Std)
0,1,100005,1504840100000,1,1095,N,10700,Albertville City,Alabama,AL,...,R,R,R,R,R,R,R,R,0.001434,0.563351
1,1,100005,1504840100000,1,1095,N,10700,Albertville City,Alabama,AL,...,R,R,R,R,R,R,R,R,0.000000,-0.070557
2,1,100005,1504840100000,1,1095,N,10700,Albertville City,Alabama,AL,...,R,R,R,R,R,R,R,R,0.000000,-0.070557
3,1,100005,1504840100000,1,1095,N,10700,Albertville City,Alabama,AL,...,R,R,R,R,R,R,R,R,0.000188,0.012457
4,1,100005,1504840100000,1,1095,N,10700,Albertville City,Alabama,AL,...,R,R,R,R,R,R,R,R,0.000078,-0.035922
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7067539,19665,5680250,51502040100000,56,56039,N,27220,Region V BOCES,Wyoming,WY,...,N,N,N,N,N,N,N,N,NaN,NaN
7067540,19665,5680250,51502040100000,56,56039,N,27220,Region V BOCES,Wyoming,WY,...,N,N,N,N,N,N,N,N,NaN,NaN
7067541,19665,5680250,51502040100000,56,56039,N,27220,Region V BOCES,Wyoming,WY,...,N,N,N,N,N,N,N,N,NaN,NaN
7067542,19665,5680250,51502040100000,56,56039,N,27220,Region V BOCES,Wyoming,WY,...,N,N,N,N,N,N,N,N,NaN,NaN
7067543,19665,5680250,51502040100000,56,56039,N,27220,Region V BOCES,Wyoming,WY,...,N,N,N,N,N,N,N,N,NaN,NaN

In [ ]:
expendituresMap = px.density_mapbox(expenditureData_with_geoData,
                                    lat= 'LAT',
                                    lon= 'LON',
                                    z= 'amount (Z-Score Std)',
                                    radius=10,
                                    center= dict(lat=0, lon= 180),
                                    zoom= 0,
                                    mapbox_style='stamen-terrain')
expendituresMap.show()